doctype html
html
  head
    div.header
      div.logo
        a(href='/')
          img.logo(src='https://cdn.evbuc.com/eventlogos/65503631/galvanizegalvanizelogotextlogo28129.png')
      div.headerTitle
        p Galvanize Reads
      div.links
        a(href='/books')
          p Show All Books
        a(href='/authors')
          p Show All Authors
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    block content 
